.list-product-container{
    width: 85%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 50px; */
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0,0, 0, 0.2);
    background-color: white;
    
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-create-product{
    padding: 10px 20px;
    background-color: rgb(0, 116, 0);
    color: rgb(240, 240, 240);
    text-decoration: none;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    /* nzm zasto nije htelo ovako da centrira, pa sam preko flexbox-a */
    /* width: fit-content;
    margin: auto !important; */
}

.title{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.table-container{
    max-height: 340px;
    overflow-y: scroll;
}

.swal2-confirm.swal2-styled.swal2-default-outline{
    background-color: rgb(0, 116, 0) !important;
}
